useDynLib(rcppbugs)

export(print.mcmc.object,
       create.model,
       logp,
       jump,
       run.model,
       deterministic,
       linear,
       logistic,
       normal.dist,
       uniform.dist,
       gamma.dist,
       bernoulli.dist,
       binomial.dist
       )
