useDynLib(RCppBugs)

export(show.addr,
       mod.mem,
       create.ref,
       get.ref,
       create.model,
       logp,
       jump,
       print.arma,
       print.mcmc,
       run.model,
       deterministic,
       normal,
       uniform,
       get.history
       )
